In [2]:
import tushare as ts
import akshare as ak
import datetime
import trade_cal_handle
import security_basic_info
import pandas as pd


ts.set_token('e9628663b45f87ea92e39aaa7127063830ebd5090bc1e8943138b84f')
pro = ts.pro_api()

In [1]:
date = '20230328'
year = date[:4]
short_date = date[4:]
if short_date <= '0430':
    yj_peridos = [year + '0331', str(int(year) - 1) + '1231', year + '0630']
elif short_date <= '0830':
    yj_peridos = [year + '0630', year + '0930', year + '1231']
elif short_date <= '1030':
    yj_peridos = [year + '0930', year + '1231']
elif short_date <= '1101':
    yj_peridos = [year + '1231']

In [3]:
def get_yj_period(date):
    year = date[:4]
    short_date = date[4:]
    if short_date <= '0430':
        yj_peridos = [str(int(year) - 1) + '1231']
    elif short_date <= '0830':
        yj_peridos = [year + '0630']
    elif short_date <= '1030':
        yj_peridos = [year + '0930']
    elif short_date <= '1101':
        yj_peridos = [year + '1231']
    return yj_peridos

In [4]:
get_yj_period('20230328')

['20230331', '20221231', '20230630']

In [1]:
import akshare as ak

ak.stock_tfp_em(date="20220523")

,序号,代码,名称,停牌时间,停牌截止时间,停牌期限,停牌原因,所属市场,预计复牌时间
0,1,300309,*ST吉艾,2023-03-29,NaT,连续停牌,刊登重要公告,深交所风险警示板,NaT
1,2,603162,海通发展,2023-03-29,2023-03-29,盘中停牌,交易异常波动,上交所主板,NaT
2,3,600925,苏能股份,2023-03-29,2023-03-29,盘中停牌,交易异常波动,上交所主板,NaT
3,4,603291,联合水务,2023-03-27,2023-03-27,盘中停牌,交易异常波动,上交所主板,NaT
4,5,000697,*ST炼石,2023-03-22,2023-03-22,停牌一天,刊登重要公告,深交所风险警示板,2023-03-23
...,...,...,...,...,...,...,...,...,...
429,430,873223,荣亿精密,2021-09-10,2022-06-08,连续停牌,刊登重要公告,北京证券交易所,2022-06-09
430,431,834062,科润智控,2021-09-01,2022-07-12,连续停牌,刊登重要公告,北京证券交易所,2022-07-13
431,432,870299,灿能电力,2021-07-01,2022-06-09,连续停牌,刊登重要公告,北京证券交易所,2022-06-10
432,433,831834,三维股份,2021-06-29,2022-08-19,连续停牌,刊登重要公告,北京证券交易所,2022-08-22
433,434,837821,则成电子,2021-06-22,2022-07-05,连续停牌,刊登重要公告,北京证券交易所,2022-07-06

In [29]:
df = pro.daily(ts_code=['000001.SZ','600000.SH'], start_date='20180702', end_date='20180702')
df['ts_code'] = [x[:6] for x in df.ts_code.tolist()]
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001,20180702,9.05,9.05,8.55,8.61,9.09,-0.48,-5.28,1315520.13,1158545.868
1,600000,20180702,9.55,9.55,9.23,9.29,9.56,-0.27,-2.82,226690.89,212743.905

In [26]:
df.columns.tolist()

['ts_code',
 'trade_date',
 'open',
 'high',
 'low',
 'close',
 'pre_close',
 'change',
 'pct_chg',
 'vol',
 'amount']

In [37]:
tick = dict(zip(df.columns.tolist(),df.loc[df['ts_code']=='000001',].iloc[0]))

In [38]:
df.loc[df['ts_code']=='000001',]

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001,20180702,9.05,9.05,8.55,8.61,9.09,-0.48,-5.28,1315520.13,1158545.868

In [39]:
tick

{'ts_code': '000001',
 'trade_date': '20180702',
 'open': 9.05,
 'high': 9.05,
 'low': 8.55,
 'close': 8.61,
 'pre_close': 9.09,
 'change': -0.48,
 'pct_chg': -5.28,
 'vol': 1315520.13,
 'amount': 1158545.868}

In [50]:
def get_target_sec_price_data(date, sec_list):
    data = pro.daily(start_date=date, end_date=date)
    data['ts_code'] = [x[:6] for x in data.ts_code.tolist()]
    data = data.loc[data['ts_code'].isin(sec_list)]
    middle_price = [(x + y / 2) for x, y in zip(data.close.tolist(), data.open.tolist())]
    return dict(zip(data.ts_code.tolist(), middle_price))

In [53]:
get_target_sec_price_data('20230327', ['000001','600000'])

{'000001': 19.0, '600000': 10.765}

In [47]:
date = '20230327'
sec_list = ['000001','600000']
data = pro.daily(start_date=date, end_date=date)
data['ts_code'] = [x[:6] for x in data.ts_code.tolist()]
data = data.loc[data['ts_code'].isin(sec_list)]
middle_price = [(x + y / 2) for x, y in zip(data.close.tolist(), data.open.tolist())]

In [52]:
dict(zip(data.ts_code.tolist(), middle_price))

{'000001': 19.0, '600000': 10.765}